/* Extra Small devices */
@media screen and (max-width: 600px) {
  .cont {
    width: -webkit-fill-available;
    height: 70vw;
    position: relative;
    overflow: hidden;
    border-top: 15px solid #12141d;
    border-bottom: 15px solid #12141d;
    filter: url("#goo");
  }
  .cont .drip {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #12141d;
    position: absolute;
    top: -100%;
    animation: falling 5s linear infinite;
  }
  @keyframes falling {
    0% {
      top: -100%;
    }
    50% {
      top: 0%;
    }
    80% {
      top: 80%;
    }
    100% {
      top: 100%;
    }
  }
  .cont .drip:nth-child(1) {
    border-color: #12141d;
    height: 19px;
    width: 19px;
    animation-delay: -0.2s;
    background: #12141d;
    left: 270px;
  }
  .cont .drip:nth-child(2) {
    border-color: #12141d;
    height: 45px;
    width: 45px;
    animation-delay: -0.4s;
    background: #12141d;
    left: 456px;
  }
  .cont .drip:nth-child(3) {
    border-color: #12141d;
    height: 48px;
    width: 48px;
    animation-delay: -0.6s;
    background: #12141d;
    left: 77px;
  }
  .cont .drip:nth-child(4) {
    border-color: #12141d;
    height: 22px;
    width: 22px;
    animation-delay: -0.8s;
    background: #12141d;
    left: 221px;
  }
  .cont .drip:nth-child(5) {
    border-color: #12141d;
    height: 31px;
    width: 31px;
    animation-delay: -1s;
    background: #12141d;
    left: 402px;
  }
  .cont .drip:nth-child(6) {
    border-color: #12141d;
    height: 48px;
    width: 48px;
    animation-delay: -1.2s;
    background: #12141d;
    left: 442px;
  }
  .cont .drip:nth-child(7) {
    border-color: #12141d;
    height: 31px;
    width: 31px;
    animation-delay: -1.4s;
    background: #12141d;
    left: 90px;
  }
  .cont .drip:nth-child(8) {
    border-color: #12141d;
    height: 48px;
    width: 48px;
    animation-delay: -1.6s;
    background: #12141d;
    left: 376px;
  }
  .cont .drip:nth-child(9) {
    border-color: #12141d;
    height: 15px;
    width: 15px;
    animation-delay: -1.8s;
    background: #12141d;
    left: 24px;
  }
  .cont .drip:nth-child(10) {
    border-color: #12141d;
    height: 29px;
    width: 29px;
    animation-delay: -2s;
    background: #12141d;
    left: 208px;
  }
  .cont .drip:nth-child(11) {
    border-color: #12141d;
    height: 15px;
    width: 15px;
    animation-delay: -2.2s;
    background: #12141d;
    left: 396px;
  }
  .cont .drip:nth-child(12) {
    border-color: #12141d;
    height: 39px;
    width: 39px;
    animation-delay: -2.4s;
    background: #12141d;
    left: 409px;
  }
  .cont .drip:nth-child(13) {
    border-color: #12141d;
    height: 9px;
    width: 9px;
    animation-delay: -2.6s;
    background: #12141d;
    left: 131px;
  }
  .cont .drip:nth-child(14) {
    border-color: #12141d;
    height: 25px;
    width: 25px;
    animation-delay: -2.8s;
    background: #12141d;
    left: 285px;
  }
  .cont .drip:nth-child(15) {
    border-color: #12141d;
    height: 4px;
    width: 4px;
    animation-delay: -3s;
    background: #12141d;
    left: 192px;
  }
  .cont .drip:nth-child(16) {
    border-color: #12141d;
    height: 45px;
    width: 45px;
    animation-delay: -3.2s;
    background: #12141d;
    left: 146px;
  }
  .cont .drip:nth-child(17) {
    border-color: #12141d;
    height: 50px;
    width: 50px;
    animation-delay: -3.4s;
    background: #12141d;
    left: 318px;
  }
  .cont .drip:nth-child(18) {
    border-color: #12141d;
    height: 32px;
    width: 32px;
    animation-delay: -3.6s;
    background: #12141d;
    left: 37px;
  }
  .cont .drip:nth-child(19) {
    border-color: #12141d;
    height: 19px;
    width: 19px;
    animation-delay: -3.8s;
    background: #12141d;
    left: 307px;
  }
  .cont .drip:nth-child(20) {
    border-color: #12141d;
    height: 1px;
    width: 1px;
    animation-delay: -4s;
    background: #12141d;
    left: 451px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 601px) {
  .cont {
    width: -webkit-fill-available;
    height: 70vw;
    position: relative;
    overflow: hidden;
    border-top: 15px solid #12141d;
    border-bottom: 15px solid #12141d;
    filter: url("#goo");
  }
  .cont .drip {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #12141d;
    position: absolute;
    top: -100%;
    animation: falling 6s linear infinite;
  }
  @keyframes falling {
    0% {
      top: -100%;
    }
    50% {
      top: 0%;
    }
    90% {
      top: 90%;
    }
    100% {
      top: 100%;
    }
  }
  .cont .drip:nth-child(1) {
    border-color: #12141d;
    height: 40px;
    width: 40px;
    animation-delay: -0.2s;
    background: #12141d;
    left: 420px;
  }
  .cont .drip:nth-child(2) {
    border-color: #12141d;
    height: 32px;
    width: 32px;
    animation-delay: -0.4s;
    background: #12141d;
    left: 390px;
  }
  .cont .drip:nth-child(3) {
    border-color: #12141d;
    height: 9px;
    width: 9px;
    animation-delay: -0.6s;
    background: #12141d;
    left: 396px;
  }
  .cont .drip:nth-child(4) {
    border-color: #12141d;
    height: 55px;
    width: 55px;
    animation-delay: -0.8s;
    background: #12141d;
    left: 146px;
  }
  .cont .drip:nth-child(5) {
    border-color: #12141d;
    height: 52px;
    width: 52px;
    animation-delay: -1s;
    background: #12141d;
    left: 418px;
  }
  .cont .drip:nth-child(6) {
    border-color: #12141d;
    height: 51px;
    width: 51px;
    animation-delay: -1.2s;
    background: #12141d;
    left: 224px;
  }
  .cont .drip:nth-child(7) {
    border-color: #12141d;
    height: 56px;
    width: 56px;
    animation-delay: -1.4s;
    background: #12141d;
    left: 193px;
  }
  .cont .drip:nth-child(8) {
    border-color: #12141d;
    height: 12px;
    width: 12px;
    animation-delay: -1.6s;
    background: #12141d;
    left: 541px;
  }
  .cont .drip:nth-child(9) {
    border-color: #12141d;
    height: 33px;
    width: 33px;
    animation-delay: -1.8s;
    background: #12141d;
    left: 140px;
  }
  .cont .drip:nth-child(10) {
    border-color: #12141d;
    height: 13px;
    width: 13px;
    animation-delay: -2s;
    background: #12141d;
    left: 290px;
  }
  .cont .drip:nth-child(11) {
    border-color: #12141d;
    height: 6px;
    width: 6px;
    animation-delay: -2.2s;
    background: #12141d;
    left: 462px;
  }
  .cont .drip:nth-child(12) {
    border-color: #12141d;
    height: 12px;
    width: 12px;
    animation-delay: -2.4s;
    background: #12141d;
    left: 585px;
  }
  .cont .drip:nth-child(13) {
    border-color: #12141d;
    height: 59px;
    width: 59px;
    animation-delay: -2.6s;
    background: #12141d;
    left: 362px;
  }
  .cont .drip:nth-child(14) {
    border-color: #12141d;
    height: 40px;
    width: 40px;
    animation-delay: -2.8s;
    background: #12141d;
    left: 113px;
  }
  .cont .drip:nth-child(15) {
    border-color: #12141d;
    height: 33px;
    width: 33px;
    animation-delay: -3s;
    background: #12141d;
    left: 176px;
  }
  .cont .drip:nth-child(16) {
    border-color: #12141d;
    height: 13px;
    width: 13px;
    animation-delay: -3.2s;
    background: #12141d;
    left: 216px;
  }
  .cont .drip:nth-child(17) {
    border-color: #12141d;
    height: 16px;
    width: 16px;
    animation-delay: -3.4s;
    background: #12141d;
    left: 379px;
  }
  .cont .drip:nth-child(18) {
    border-color: #12141d;
    height: 53px;
    width: 53px;
    animation-delay: -3.6s;
    background: #12141d;
    left: 61px;
  }
  .cont .drip:nth-child(19) {
    border-color: #12141d;
    height: 37px;
    width: 37px;
    animation-delay: -3.8s;
    background: #12141d;
    left: 522px;
  }
  .cont .drip:nth-child(20) {
    border-color: #12141d;
    height: 43px;
    width: 43px;
    animation-delay: -4s;
    background: #12141d;
    left: 518px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .cont {
    width: -webkit-fill-available;
    height: 70vw;
    position: relative;
    overflow: hidden;
    border-top: 15px solid #12141d;
    border-bottom: 15px solid #12141d;
    filter: url("#goo");
  }
  .cont .drip {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #12141d;
    position: absolute;
    top: -100%;
    animation: falling 7s linear infinite;
  }
  @keyframes falling {
    0% {
      top: -100%;
    }
    50% {
      top: 0%;
    }
    90% {
      top: 90%;
    }
    100% {
      top: 100%;
    }
  }
  .cont .drip:nth-child(1) {
    border-color: #12141d;
    height: 64px;
    width: 64px;
    animation-delay: -0.2s;
    background: #12141d;
    left: 345px;
  }
  .cont .drip:nth-child(2) {
    border-color: #12141d;
    height: 66px;
    width: 66px;
    animation-delay: -0.4s;
    background: #12141d;
    left: 358px;
  }
  .cont .drip:nth-child(3) {
    border-color: #12141d;
    height: 38px;
    width: 38px;
    animation-delay: -0.6s;
    background: #12141d;
    left: 351px;
  }
  .cont .drip:nth-child(4) {
    border-color: #12141d;
    height: 70px;
    width: 70px;
    animation-delay: -0.8s;
    background: #12141d;
    left: 124px;
  }
  .cont .drip:nth-child(5) {
    border-color: #12141d;
    height: 45px;
    width: 45px;
    animation-delay: -1s;
    background: #12141d;
    left: 733px;
  }
  .cont .drip:nth-child(6) {
    border-color: #12141d;
    height: 57px;
    width: 57px;
    animation-delay: -1.2s;
    background: #12141d;
    left: 730px;
  }
  .cont .drip:nth-child(7) {
    border-color: #12141d;
    height: 18px;
    width: 18px;
    animation-delay: -1.4s;
    background: #12141d;
    left: 244px;
  }
  .cont .drip:nth-child(8) {
    border-color: #12141d;
    height: 47px;
    width: 47px;
    animation-delay: -1.6s;
    background: #12141d;
    left: 620px;
  }
  .cont .drip:nth-child(9) {
    border-color: #12141d;
    height: 39px;
    width: 39px;
    animation-delay: -1.8s;
    background: #12141d;
    left: 232px;
  }
  .cont .drip:nth-child(10) {
    border-color: #12141d;
    height: 19px;
    width: 19px;
    animation-delay: -2s;
    background: #12141d;
    left: 707px;
  }
  .cont .drip:nth-child(11) {
    border-color: #12141d;
    height: 31px;
    width: 31px;
    animation-delay: -2.2s;
    background: #12141d;
    left: 566px;
  }
  .cont .drip:nth-child(12) {
    border-color: #12141d;
    height: 8px;
    width: 8px;
    animation-delay: -2.4s;
    background: #12141d;
    left: 580px;
  }
  .cont .drip:nth-child(13) {
    border-color: #12141d;
    height: 43px;
    width: 43px;
    animation-delay: -2.6s;
    background: #12141d;
    left: 775px;
  }
  .cont .drip:nth-child(14) {
    border-color: #12141d;
    height: 44px;
    width: 44px;
    animation-delay: -2.8s;
    background: #12141d;
    left: 718px;
  }
  .cont .drip:nth-child(15) {
    border-color: #12141d;
    height: 2px;
    width: 2px;
    animation-delay: -3s;
    background: #12141d;
    left: 450px;
  }
  .cont .drip:nth-child(16) {
    border-color: #12141d;
    height: 22px;
    width: 22px;
    animation-delay: -3.2s;
    background: #12141d;
    left: 484px;
  }
  .cont .drip:nth-child(17) {
    border-color: #12141d;
    height: 1px;
    width: 1px;
    animation-delay: -3.4s;
    background: #12141d;
    left: 183px;
  }
  .cont .drip:nth-child(18) {
    border-color: #12141d;
    height: 9px;
    width: 9px;
    animation-delay: -3.6s;
    background: #12141d;
    left: 523px;
  }
  .cont .drip:nth-child(19) {
    border-color: #12141d;
    height: 13px;
    width: 13px;
    animation-delay: -3.8s;
    background: #12141d;
    left: 144px;
  }
  .cont .drip:nth-child(20) {
    border-color: #12141d;
    height: 63px;
    width: 63px;
    animation-delay: -4s;
    background: #12141d;
    left: 775px;
  }
  .cont .drip:nth-child(21) {
    border-color: #12141d;
    height: 23px;
    width: 23px;
    animation-delay: -4.2s;
    background: #12141d;
    left: 145px;
  }
  .cont .drip:nth-child(22) {
    border-color: #12141d;
    height: 1px;
    width: 1px;
    animation-delay: -4.4s;
    background: #12141d;
    left: 681px;
  }
  .cont .drip:nth-child(23) {
    border-color: #12141d;
    height: 12px;
    width: 12px;
    animation-delay: -4.6s;
    background: #12141d;
    left: 563px;
  }
  .cont .drip:nth-child(24) {
    border-color: #12141d;
    height: 44px;
    width: 44px;
    animation-delay: -4.8s;
    background: #12141d;
    left: 783px;
  }
  .cont .drip:nth-child(25) {
    border-color: #12141d;
    height: 23px;
    width: 23px;
    animation-delay: -5s;
    background: #12141d;
    left: 10px;
  }
  .cont .drip:nth-child(26) {
    border-color: #12141d;
    height: 4px;
    width: 4px;
    animation-delay: -5.2s;
    background: #12141d;
    left: 376px;
  }
  .cont .drip:nth-child(27) {
    border-color: #12141d;
    height: 39px;
    width: 39px;
    animation-delay: -5.4s;
    background: #12141d;
    left: 603px;
  }
  .cont .drip:nth-child(28) {
    border-color: #12141d;
    height: 33px;
    width: 33px;
    animation-delay: -5.6s;
    background: #12141d;
    left: 757px;
  }
  .cont .drip:nth-child(29) {
    border-color: #12141d;
    height: 46px;
    width: 46px;
    animation-delay: -5.8s;
    background: #12141d;
    left: 420px;
  }
  .cont .drip:nth-child(30) {
    border-color: #12141d;
    height: 49px;
    width: 49px;
    animation-delay: -6s;
    background: #12141d;
    left: 696px;
  }
  .cont .drip:nth-child(31) {
    border-color: #12141d;
    height: 25px;
    width: 25px;
    animation-delay: -6.2s;
    background: #12141d;
    left: 222px;
  }
  .cont .drip:nth-child(32) {
    border-color: #12141d;
    height: 34px;
    width: 34px;
    animation-delay: -6.4s;
    background: #12141d;
    left: 494px;
  }
  .cont .drip:nth-child(33) {
    border-color: #12141d;
    height: 4px;
    width: 4px;
    animation-delay: -6.6s;
    background: #12141d;
    left: 187px;
  }
  .cont .drip:nth-child(34) {
    border-color: #12141d;
    height: 64px;
    width: 64px;
    animation-delay: -6.8s;
    background: #12141d;
    left: 208px;
  }
  .cont .drip:nth-child(35) {
    border-color: #12141d;
    height: 27px;
    width: 27px;
    animation-delay: -7s;
    background: #12141d;
    left: 649px;
  }
  .cont .drip:nth-child(36) {
    border-color: #12141d;
    height: 57px;
    width: 57px;
    animation-delay: -7.2s;
    background: #12141d;
    left: 360px;
  }
  .cont .drip:nth-child(37) {
    border-color: #12141d;
    height: 47px;
    width: 47px;
    animation-delay: -7.4s;
    background: #12141d;
    left: 476px;
  }
  .cont .drip:nth-child(38) {
    border-color: #12141d;
    height: 34px;
    width: 34px;
    animation-delay: -7.6s;
    background: #12141d;
    left: 73px;
  }
  .cont .drip:nth-child(39) {
    border-color: #12141d;
    height: 50px;
    width: 50px;
    animation-delay: -7.8s;
    background: #12141d;
    left: 81px;
  }
  .cont .drip:nth-child(40) {
    border-color: #12141d;
    height: 50px;
    width: 50px;
    animation-delay: -8s;
    background: #12141d;
    left: 783px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .cont {
    height: 60vw;
    position: relative;
    overflow: hidden;
    border-top: 15px solid #12141d;
    border-bottom: 15px solid #12141d;
    filter: url("#goo");
  }
  .cont .drip {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #12141d;
    position: absolute;
    top: -100%;
    animation: falling 5s linear infinite;
  }
  @keyframes falling {
    0% {
      top: -100%;
    }
    50% {
      top: 0%;
    }
    90% {
      top: 90%;
    }
    100% {
      top: 100%;
    }
  }
  .cont .drip:nth-child(1) {
    border-color: #12141d;
    height: 30px;
    width: 30px;
    animation-delay: -0.2s;
    background: #12141d;
    left: 962px;
  }
  .cont .drip:nth-child(2) {
    border-color: #12141d;
    height: 17px;
    width: 17px;
    animation-delay: -0.4s;
    background: #12141d;
    left: 199px;
  }
  .cont .drip:nth-child(3) {
    border-color: #12141d;
    height: 23px;
    width: 23px;
    animation-delay: -0.6s;
    background: #12141d;
    left: 773px;
  }
  .cont .drip:nth-child(4) {
    border-color: #12141d;
    height: 62px;
    width: 62px;
    animation-delay: -0.8s;
    background: #12141d;
    left: 846px;
  }
  .cont .drip:nth-child(5) {
    border-color: #12141d;
    height: 26px;
    width: 26px;
    animation-delay: -1s;
    background: #12141d;
    left: 4px;
  }
  .cont .drip:nth-child(6) {
    border-color: #12141d;
    height: 52px;
    width: 52px;
    animation-delay: -1.2s;
    background: #12141d;
    left: 63px;
  }
  .cont .drip:nth-child(7) {
    border-color: #12141d;
    height: 37px;
    width: 37px;
    animation-delay: -1.4s;
    background: #12141d;
    left: 1173px;
  }
  .cont .drip:nth-child(8) {
    border-color: #12141d;
    height: 24px;
    width: 24px;
    animation-delay: -1.6s;
    background: #12141d;
    left: 37px;
  }
  .cont .drip:nth-child(9) {
    border-color: #12141d;
    height: 33px;
    width: 33px;
    animation-delay: -1.8s;
    background: #12141d;
    left: 503px;
  }
  .cont .drip:nth-child(10) {
    border-color: #12141d;
    height: 44px;
    width: 44px;
    animation-delay: -2s;
    background: #12141d;
    left: 1133px;
  }
  .cont .drip:nth-child(11) {
    border-color: #12141d;
    height: 14px;
    width: 14px;
    animation-delay: -2.2s;
    background: #12141d;
    left: 482px;
  }
  .cont .drip:nth-child(12) {
    border-color: #12141d;
    height: 60px;
    width: 60px;
    animation-delay: -2.4s;
    background: #12141d;
    left: 913px;
  }
  .cont .drip:nth-child(13) {
    border-color: #12141d;
    height: 26px;
    width: 26px;
    animation-delay: -2.6s;
    background: #12141d;
    left: 759px;
  }
  .cont .drip:nth-child(14) {
    border-color: #12141d;
    height: 65px;
    width: 65px;
    animation-delay: -2.8s;
    background: #12141d;
    left: 852px;
  }
  .cont .drip:nth-child(15) {
    border-color: #12141d;
    height: 49px;
    width: 49px;
    animation-delay: -3s;
    background: #12141d;
    left: 717px;
  }
  .cont .drip:nth-child(16) {
    border-color: #12141d;
    height: 26px;
    width: 26px;
    animation-delay: -3.2s;
    background: #12141d;
    left: 277px;
  }
  .cont .drip:nth-child(17) {
    border-color: #12141d;
    height: 38px;
    width: 38px;
    animation-delay: -3.4s;
    background: #12141d;
    left: 116px;
  }
  .cont .drip:nth-child(18) {
    border-color: #12141d;
    height: 53px;
    width: 53px;
    animation-delay: -3.6s;
    background: #12141d;
    left: 89px;
  }
  .cont .drip:nth-child(19) {
    border-color: #12141d;
    height: 13px;
    width: 13px;
    animation-delay: -3.8s;
    background: #12141d;
    left: 915px;
  }
  .cont .drip:nth-child(20) {
    border-color: #12141d;
    height: 48px;
    width: 48px;
    animation-delay: -4s;
    background: #12141d;
    left: 1100px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .cont {
    height: 60vh;
    position: relative;
    overflow: hidden;
    border-top: 15px solid #12141d;
    border-bottom: 15px solid #12141d;
    filter: url("#goo");
  }
  .cont .drip {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #12141d;
    position: absolute;
    top: -100%;
    animation: falling 7s linear infinite;
  }
  @keyframes falling {
    0% {
      top: -100%;
    }
    50% {
      top: 0%;
    }
    90% {
      top: 90%;
    }
    100% {
      top: 100%;
    }
  }
  .cont .drip:nth-child(1) {
    border-color: #12141d;
    height: 2px;
    width: 2px;
    animation-delay: -0.2s;
    background: #12141d;
    left: 1668px;
  }
  .cont .drip:nth-child(2) {
    border-color: #12141d;
    height: 77px;
    width: 77px;
    animation-delay: -0.4s;
    background: #12141d;
    left: 1496px;
  }
  .cont .drip:nth-child(3) {
    border-color: #12141d;
    height: 41px;
    width: 41px;
    animation-delay: -0.6s;
    background: #12141d;
    left: 1272px;
  }
  .cont .drip:nth-child(4) {
    border-color: #12141d;
    height: 12px;
    width: 12px;
    animation-delay: -0.8s;
    background: #12141d;
    left: 1651px;
  }
  .cont .drip:nth-child(5) {
    border-color: #12141d;
    height: 50px;
    width: 50px;
    animation-delay: -1s;
    background: #12141d;
    left: 126px;
  }
  .cont .drip:nth-child(6) {
    border-color: #12141d;
    height: 70px;
    width: 70px;
    animation-delay: -1.2s;
    background: #12141d;
    left: 1837px;
  }
  .cont .drip:nth-child(7) {
    border-color: #12141d;
    height: 56px;
    width: 56px;
    animation-delay: -1.4s;
    background: #12141d;
    left: 1035px;
  }
  .cont .drip:nth-child(8) {
    border-color: #12141d;
    height: 29px;
    width: 29px;
    animation-delay: -1.6s;
    background: #12141d;
    left: 585px;
  }
  .cont .drip:nth-child(9) {
    border-color: #12141d;
    height: 46px;
    width: 46px;
    animation-delay: -1.8s;
    background: #12141d;
    left: 859px;
  }
  .cont .drip:nth-child(10) {
    border-color: #12141d;
    height: 57px;
    width: 57px;
    animation-delay: -2s;
    background: #12141d;
    left: 516px;
  }
  .cont .drip:nth-child(11) {
    border-color: #12141d;
    height: 40px;
    width: 40px;
    animation-delay: -2.2s;
    background: #12141d;
    left: 1439px;
  }
  .cont .drip:nth-child(12) {
    border-color: #12141d;
    height: 35px;
    width: 35px;
    animation-delay: -2.4s;
    background: #12141d;
    left: 1235px;
  }
  .cont .drip:nth-child(13) {
    border-color: #12141d;
    height: 13px;
    width: 13px;
    animation-delay: -2.6s;
    background: #12141d;
    left: 1388px;
  }
  .cont .drip:nth-child(14) {
    border-color: #12141d;
    height: 19px;
    width: 19px;
    animation-delay: -2.8s;
    background: #12141d;
    left: 831px;
  }
  .cont .drip:nth-child(15) {
    border-color: #12141d;
    height: 63px;
    width: 63px;
    animation-delay: -3s;
    background: #12141d;
    left: 1696px;
  }
  .cont .drip:nth-child(16) {
    border-color: #12141d;
    height: 37px;
    width: 37px;
    animation-delay: -3.2s;
    background: #12141d;
    left: 17px;
  }
  .cont .drip:nth-child(17) {
    border-color: #12141d;
    height: 25px;
    width: 25px;
    animation-delay: -3.4s;
    background: #12141d;
    left: 388px;
  }
  .cont .drip:nth-child(18) {
    border-color: #12141d;
    height: 8px;
    width: 8px;
    animation-delay: -3.6s;
    background: #12141d;
    left: 1009px;
  }
  .cont .drip:nth-child(19) {
    border-color: #12141d;
    height: 21px;
    width: 21px;
    animation-delay: -3.8s;
    background: #12141d;
    left: 1122px;
  }
  .cont .drip:nth-child(20) {
    border-color: #12141d;
    height: 100px;
    width: 100px;
    animation-delay: -4s;
    background: #12141d;
    left: 1962px;
  }
  .cont .drip:nth-child(21) {
    border-color: #12141d;
    height: 38px;
    width: 38px;
    animation-delay: -4.2s;
    background: #12141d;
    left: 969px;
  }
  .cont .drip:nth-child(22) {
    border-color: #12141d;
    height: 58px;
    width: 58px;
    animation-delay: -4.4s;
    background: #12141d;
    left: 1417px;
  }
  .cont .drip:nth-child(23) {
    border-color: #12141d;
    height: 12px;
    width: 12px;
    animation-delay: -4.6s;
    background: #12141d;
    left: 904px;
  }
  .cont .drip:nth-child(24) {
    border-color: #12141d;
    height: 75px;
    width: 75px;
    animation-delay: -4.8s;
    background: #12141d;
    left: 1055px;
  }
  .cont .drip:nth-child(25) {
    border-color: #12141d;
    height: 65px;
    width: 65px;
    animation-delay: -5s;
    background: #12141d;
    left: 974px;
  }
  .cont .drip:nth-child(26) {
    border-color: #12141d;
    height: 7px;
    width: 7px;
    animation-delay: -5.2s;
    background: #12141d;
    left: 1705px;
  }
  .cont .drip:nth-child(27) {
    border-color: #12141d;
    height: 96px;
    width: 96px;
    animation-delay: -5.4s;
    background: #12141d;
    left: 1716px;
  }
  .cont .drip:nth-child(28) {
    border-color: #12141d;
    height: 39px;
    width: 39px;
    animation-delay: -5.6s;
    background: #12141d;
    left: 1231px;
  }
  .cont .drip:nth-child(29) {
    border-color: #12141d;
    height: 53px;
    width: 53px;
    animation-delay: -5.8s;
    background: #12141d;
    left: 255px;
  }
  .cont .drip:nth-child(30) {
    border-color: #12141d;
    height: 25px;
    width: 25px;
    animation-delay: -6s;
    background: #12141d;
    left: 1354px;
  }
  .cont .drip:nth-child(31) {
    border-color: #12141d;
    height: 61px;
    width: 61px;
    animation-delay: -6.2s;
    background: #12141d;
    left: 1858px;
  }
  .cont .drip:nth-child(32) {
    border-color: #12141d;
    height: 6px;
    width: 6px;
    animation-delay: -6.4s;
    background: #12141d;
    left: 1436px;
  }
  .cont .drip:nth-child(33) {
    border-color: #12141d;
    height: 79px;
    width: 79px;
    animation-delay: -6.6s;
    background: #12141d;
    left: 12px;
  }
  .cont .drip:nth-child(34) {
    border-color: #12141d;
    height: 109px;
    width: 109px;
    animation-delay: -6.8s;
    background: #12141d;
    left: 178px;
  }
  .cont .drip:nth-child(35) {
    border-color: #12141d;
    height: 40px;
    width: 40px;
    animation-delay: -7s;
    background: #12141d;
    left: 281px;
  }
  .cont .drip:nth-child(36) {
    border-color: #12141d;
    height: 50px;
    width: 50px;
    animation-delay: -7.2s;
    background: #12141d;
    left: 1950px;
  }
  .cont .drip:nth-child(37) {
    border-color: #12141d;
    height: 10px;
    width: 10px;
    animation-delay: -7.4s;
    background: #12141d;
    left: 871px;
  }
  .cont .drip:nth-child(38) {
    border-color: #12141d;
    height: 44px;
    width: 44px;
    animation-delay: -7.6s;
    background: #12141d;
    left: 428px;
  }
  .cont .drip:nth-child(39) {
    border-color: #12141d;
    height: 20px;
    width: 20px;
    animation-delay: -7.8s;
    background: #12141d;
    left: 1658px;
  }
  .cont .drip:nth-child(40) {
    border-color: #12141d;
    height: 10px;
    width: 10px;
    animation-delay: -8s;
    background: #12141d;
    left: 1929px;
  }
}

/*# sourceMappingURL=hero_drip.css.map */
