button {
  font-size: inherit;
}

#social {
  text-align: center;
  margin-bottom: 3%;
}
#social ul {
  padding-inline-start: 0;
}

#social li {
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
}

#social ul li {
  transition: ease 0.3s;
}
#social ul:hover > li {
  opacity: 0.5;
}
#social ul:hover > li:hover {
  opacity: 1;
}

/** Facebook **/

.facebook .border {
  background: transparent;
  outline: none;
  height: 4em;
  width: 4em;
  color: rgba(233, 233, 233, 0.856);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(66, 66, 66, 0.3);
  transition: all 0.2s ease-in-out;
}
.facebook .border:hover {
  background: #3b5998;
  border-color: #436aaf;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}
.fa.fa-facebook {
  font-size: inherit;
}
/** Linkedin **/

.linkedin .border {
  background: transparent;
  outline: none;
  height: 4em;
  width: 4em;
  color: rgba(255, 255, 255, 0.856);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(66, 66, 66, 0.3);
  transition: all 0.2s ease-in-out;
}
.linkedin .border:hover {
  background: #3b5998;
  border-color: #436aaf;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}
.fa.fa-linkedin {
  font-size: inherit;
}
/** Twitter **/

.twitter .border {
  background: transparent;
  outline: none;
  height: 4em;
  width: 4em;
  color: rgba(255, 255, 255, 0.856);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(66, 66, 66, 0.3);
  transition: all 0.2s ease-in-out;
}
.twitter .border:hover {
  background: #00aced;
  border-color: #72c6e6;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}
.fa.fa-twitter {
  font-size: inherit;
}
/** Instagram **/

.instagram .border {
  background: transparent;
  outline: none;
  height: 4em;
  width: 4em;
  color: rgba(255, 255, 255, 0.856);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(66, 66, 66, 0.3);
  transition: all 0.2s ease-in-out;
}
.instagram .border:hover {
  background: #517fa4;
  border-color: #7495af;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}
.fa.fa-instagram {
  font-size: inherit;
}
/** dribbble **/
.dribbble .border {
  background: transparent;
  outline: none;
  height: 4em;
  width: 4em;
  color: rgba(255, 255, 255, 0.856);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(66, 66, 66, 0.3);
  transition: all 0.2s ease-in-out;
}
.dribbble .border:hover {
  background: #ea4c89;
  border-color: #ff78ac;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}
.fa.fa-dribbble {
  font-size: inherit;
}

@media screen and (max-width: 479px) {
  #social li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1px;
  }
}
