.center2 {
  display: table;
  width: 100%;
}
#social {
  display: table-cell;
  vertical-align: middle;
}
#social ul {
  text-align: center;
  padding-left: 0px;
  margin: 0 auto;
}
#social li {
  display: inline-block;
  list-style-type: none;
  margin-left: 30px;
}
/** Facebook **/
.facebook {
  width: 130px;
  height: 130px;
}
.facebook .border {
  background: transparent;
  outline: none;
  color: rgba(5, 5, 5, 0.856);
  width: 130px;
  height: 130px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(66, 66, 66, 0.3);
  transition: all 0.2s ease-in-out;
}
.facebook .border:hover {
  background: #3b5998;
  border-color: #436aaf;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}
.fa.fa-facebook {
  font-size: 50px;
}
/** Linkedin **/
.linkedin {
  width: 130px;
  height: 130px;
}
.linkedin .border {
  background: transparent;
  outline: none;
  color: rgba(5, 5, 5, 0.856);
  width: 130px;
  height: 130px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(66, 66, 66, 0.3);
  transition: all 0.2s ease-in-out;
}
.linkedin .border:hover {
  background: #3b5998;
  border-color: #436aaf;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}
.fa.fa-linkedin {
  font-size: 50px;
}
/** Twitter **/
.twitter {
  width: 130px;
  height: 130px;
}
.twitter .border {
  background: transparent;
  outline: none;
  color: rgba(5, 5, 5, 0.856);
  width: 130px;
  height: 130px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(66, 66, 66, 0.3);
  transition: all 0.2s ease-in-out;
}
.twitter .border:hover {
  background: #00aced;
  border-color: #72c6e6;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}
.fa.fa-twitter {
  font-size: 50px;
}
/** Instagram **/
.instagram {
  width: 130px;
  height: 130px;
}
.instagram .border {
  background: transparent;
  outline: none;
  color: rgba(5, 5, 5, 0.856);
  width: 130px;
  height: 130px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(66, 66, 66, 0.3);
  transition: all 0.2s ease-in-out;
}
.instagram .border:hover {
  background: #517fa4;
  border-color: #7495af;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}
.fa.fa-instagram {
  font-size: 50px;
}
/** dribbble **/
.dribbble {
  width: 130px;
  height: 130px;
}
.dribbble .border {
  background: transparent;
  outline: none;
  color: rgba(5, 5, 5, 0.856);
  width: 130px;
  height: 130px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(66, 66, 66, 0.3);
  transition: all 0.2s ease-in-out;
}
.dribbble .border:hover {
  background: #ea4c89;
  border-color: #ff78ac;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}
.fa.fa-dribbble {
  font-size: 50px;
}
#social ul li {
  transition: ease 0.3s;
}
#social ul:hover > li {
  opacity: 0.5;
}
#social ul:hover > li:hover {
  opacity: 1;
}
