.columns {
  width: 100%;
  display: -webkit-inline-flex;
  margin-bottom: 3vh;
}

ul {
  opacity: 0;
}

.col {
  max-width: 49%;
  margin: auto;
  display: block;
  padding-top: 1vh;
}

.filter_white {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(108deg) brightness(104%) contrast(101%);
  z-index: 10;
}

.position-fixed {
  position: fixed;
}

.burger {
  padding-right: 0px;
}

.white {
  fill: #ffffff;
}

.service-ico {
  max-width: inherit;
  padding: 50px;
}

.center2 {
  display: table;
  width: 100%;
  padding-bottom: 10%;
  padding-top: 10%;
}

#navArea {
  display: flex;
  justify-content: space-between;
  padding: 4% 2%;
  position: fixed;
  width: 100%;

  width: 96%;
  transition: background 0.5s;
  top: 0;
}
section {
  height: 500px;
  padding: 200px 0;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

section:nth-of-type(1) {
  margin-top: 84px;
}

#navArea .logo img {
  max-height: 120px;
  padding-top: 10%;
  fill: black;
  transition: height 0.5s;
}

.op1 {
  opacity: 1;
}

.op0 {
  opacity: 0;
}

.box {
  opacity: 0;
}

#navArea ul {
  list-style: none;
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-around;
}

#navArea.is-sticky {
  background: rgba(255, 255, 255, 0);
}

#navArea.is-sticky a {
  color: #fff;
  opacity: 0;
}

#navArea.is-sticky .logo img {
  height: 130px;
}

#navArea.burger {
  width: 96%;
}

#navArea.white {
  filter: invert(99%) sepia(6%) saturate(70%) hue-rotate(320deg) brightness(115%) contrast(100%);
}

section:nth-of-type(2n) {
  background: darkcyan;
  color: #fff;
}

.last {
  height: 21vh;
  background-color: white;
}

embed {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 30%;
}

section:nth-of-type(2n + 1) {
  background: white;
  color: #333;
}

footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
}
