$logo-color: #00cec9;

@mixin dark-theme {
  $bg-color: #1a2730;
  $text-color: #fbfbfb;

  background-color: $bg-color;
  color: $text-color;

  *::selection {
    color: #fbfbfb;
    background: #00cec9;
  }
}

@mixin light-theme {
  $bg-color: #fbfbfb;
  $text-color: #1e272e;

  background-color: $bg-color;
  color: $text-color;

  *::selection {
    color: #fbfbfb;
    background: #00cec9;
  }
}

.burger-btn {
  overflow: visible;
  cursor: pointer;
  fill: #1e272e;
  padding-top: 5%;
  padding-right: 4%;
  float: right;

  &--1,
  &--2,
  &--3 {
    transition: 0.5s;
    transform-origin: center center;
  }

  &.active {
    .burger-btn--1 {
      transform: translate(-7px, 7px) rotate(45deg);
    }
    .burger-btn--2 {
      transform: translateX(20px);
      opacity: 0;
    }
    .burger-btn--3 {
      transform: translate(-7px, -7px) rotate(-45deg);
    }
  }
}

.menu {
  position: absolute;
  float: right;
  width: 100%;
  left: 0px;
}

.menu-expanded {
  transition: all 0.25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;

  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
  }
}
