@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: Hero;
  src: url("herosa.ttf");
}

@font-face {
  font-family: CustomFont2;
  src: url("CustomFont2.ttf");
}

h1 {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  width: max-content;
  margin: auto;
  margin-top: 15vh;
  padding: 1rem;
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: -1px;
}

h2 {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  width: max-content;
  margin: auto;
  margin-top: 1vh;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -1px;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  margin: auto;
  margin-top: 0vh;
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
  padding: 13%;
  letter-spacing: -1px;
}

p {
  margin-top: 1vh;
  font-size: 1.45rem;
  margin-bottom: 1rem;
  line-height: 1.5em;
  letter-spacing: -1px;
}

a {
  color: white;
  font-size: 1.7em;
  letter-spacing: -1px;
}

h4 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  margin: auto;
  margin-top: 1vh;
  font-size: 3rem;
  font-weight: 900;
  line-height: 0.7;
  margin-bottom: 1.3vh;
  letter-spacing: -1px;
}

h5 {
  border: solid white 4px;
  font-weight: 600;
  font-size: 3rem;
  color: white;
  margin: auto;
  text-align: center;
  padding: 2%;
  width: 71%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;
}

h7 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  text-align: initial;
  font-weight: bolder;
  left: 8%;

  position: absolute;
  letter-spacing: -1px;
}

h8 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  text-align: initial;
  font-weight: 400;
  left: 8%;
  right: 8%;
  line-height: 2.5rem;
  margin-top: 10%;
  position: absolute;
  letter-spacing: -1px;
}

h9 {
  letter-spacing: -1px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  text-align: initial;
  font-weight: 600;
  left: 8%;
  right: 8%;
  line-height: 2.5rem;
  margin-top: 28rem;
  position: absolute;
  border: solid white 3px;
  width: fit-content;
  padding: 2%;
}

h10 {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 2.6vw;

  font-weight: 600;
  letter-spacing: -1px;
  line-height: 2.5rem;
}

h11 {
  margin-top: 1vh;
  font-size: 2rem;
  margin-bottom: 0rem;
  font-weight: 700;
  font-family: "Montserrat";
  line-height: 2em;
  letter-spacing: -1px;
}

h12 {
  margin-top: 1vh;
  font-size: 4rem;
  margin-bottom: 0rem;
  font-weight: 700;
  font-family: "Montserrat";
  line-height: 1.5em;
  letter-spacing: -1px;
}
